
$primary-color: #F74748;
$secondary-color: #6c757d;
$third-color:  linear-gradient(to top, #30cfd0 0%, #330867 100%);
$black-color:#000;
$white-color:#F7F7F7;
$color-hover:  #F74748;
$blue-color: #1953756e;
$gray-dark-color: #343a40;
$gray-white-color: #e1e9ee;
$bg-btn: #0098FF;
$text-color: rgb(209, 203, 203);
