@import "variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  line-height: 1.6rem;
}
html::-webkit-scrollbar {
  width: 8px;
  background: $secondary-color;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, $primary-color, $bg-btn);
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button:focus {
  border: none;
}
p {
  display: inline-block;
  margin: 0;
}
a {
  display: inline-block;
  color: $gray-dark-color;
  padding: 8px !important;
  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: $primary-color !important ;
}

.strong {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 80%;
  transform: translateY(-50%);
  background: $secondary-color;
}

.item--hover {
  content: "";
  position: absolute;
  width: calc(100% - 16px);
  block-size: fit-content;
  height: 2px;
  bottom: 4px;
  left: 8px;
  background: $color-hover;
  transform: scaleX(0);
  transform-origin: center left;
  transition: all 0.3s ease-out;
}

.btn--view-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 5px 10px;
  border-radius: 20px;
  overflow: hidden;
  background: $bg-btn;
  color: $white-color;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 8;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($white-color, 0.3);
    transform: scaleX(0);
    transform-origin: center left;
    transition: all 0.3s ease;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: left center;
  }
}

.btn-slideShow {
  position: relative;
  z-index: 8;
  cursor: pointer;
  padding: 0px 12px;
  border: none;
  margin: 0 20px;
  font-size: 30px;
  color: $white-color;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  background: $bg-btn;
  overflow: hidden;
  &:hover {
    color: $primary-color;
  }
}

.btn-next,
.btn-pre {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: $bg-btn;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  i {
    font-size: 30px;
  }
}

.btn-next {
  right: 10px;
}
.btn-pre {
  left: 10px;
}

.bridge {
  content: "";
  position: absolute;
  bottom: -80%;
  left: 0;
  right: 0;
  height: 40px;
}
.btn__back{
  button{
    border: none;
     display: flex;
      align-items: center;
      justify-content: center;
      box-shadow:2px 2px 5px rgba(0, 0, 0, 0.4);
      border-radius: 8px;
      padding: 5px 10px;
      cursor: pointer;
      &:hover{
        background: $primary-color;
      }
  }
    
}
// table css

.table {
  transform: translateY(-100px);
  margin: auto;
  &__title {
    font-size: 1.5rem;
    margin: 20px 0;
    text-transform: uppercase;
  }
  &__content {
background: $white-color;

  margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 10px;

  }
  tr:nth-child(odd){
    background: #ccc;
  }
  th{
    background: #8C0001;
    color: $white-color;
    border: none;
  }
  
  td{
    vertical-align: middle;
  }
  i{
    cursor: pointer;
    font-size: 1.2rem;
    &:hover{
      color: $primary-color;
    }
  }
  .team__match{
     display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p:nth-child(2){
        font-weight: bo;
      }
  }
  .img {
    overflow: hidden;

    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    }
  }
  .img.logo{
    border-radius: 50% !important;
  }
}

// 
 .component.admin{

  
  button{
    border-radius: 4px;
    cursor: pointer;
    background: green;
    border: none;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color:$white-color;
    &:hover{
      background: $bg-btn;
    }

  }
  .remove{
    background: $primary-color;
  }
  .add{
     display: flex;
      align-items: center;
      justify-content: center;

      margin:10px auto;
     
  }
 }
