@import '../../styles/variables';
@import '../../styles/global';

.component {
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    width: 100%;
  p,li{
      display: inline-block;
      width: 100%;
      margin: 5px 20px;
    padding-right:20px ;

  }

.body-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #670001;
    margin-bottom: 20px;
    border-bottom: 2px solid #670001;
    transform: translateY(-200px);
}

.body-content {
     
    p{
        text-align: left;
    }
   
}
.body-text{
    &:first-child{
        margin-top: 40px;
    }
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
}
 .body-text-list{
    display: inline-block;
     text-align: left;
     li{
        flex: 1;
     }
 }

 .item__regulation{
     &__content{
         display: flex;
          align-items: center;
          justify-content: center;
     }
 }
}