@import "../../../styles/variables";
@import "../../../styles/global";

.card {
  overflow: hidden;
  width: 100%;
  background-size: cover;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  padding: 0 !important;
  &:hover {
    color: unset;
    .card-img-top {
      transform: scale(1.05);
      background-size: cover;
      background-position: center;
    }
    .card-description {
      span,
      i {
        color: $primary-color;
      }
    }
  }
  &-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    bt
  }
  &-img-top {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    width: 100%;
    height: 200px;
  }
  &-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid green;
    background: $white-color;
    background-size: contain;
  }
  &-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  &-subTitle {
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-oriant: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
  &-description {
    display: flex;
    align-items: center;
    justify-content: center;
    > p {
      display: none;
    }
    i {
      margin-left: 5px;
    }
  }
}
