@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');
@import '../styles/global';
@import '../styles/variables';
@import '../styles/responsive';


.App {
  position: relative;
  text-align: center;
  margin: auto;
  user-select: none;
  overflow: hidden;
  min-height:100vh;
    background: rgba($secondary-color,0.4);
  clear: none;

}

.App::-webkit-scrollbar {
  height:8px;
  display: none;
}

.App::-webkit-scrollbar-track:hover {
  border-radius: 4px;
  background: #888;
}
.App::-webkit-scrollbar-thumb:hover {
  background:$primary-color;
  border-radius: 4px;
}

.container{
  margin-top: 100px;
  min-height: 100vh;
}

