/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.login{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/bckgrdvip.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.login-back-btn {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;

}

.login-back-btn:hover {
    cursor: pointer;
    color: red;
}

.login-container {
    background: #c0cdd3;
    border-radius: 10px;
    width: 400px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.login-header {
    /* background: #009688; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #6CB0C5;
    font-weight: bold;
}

.login-body{
    padding: 0 16px 0 16px;
}

label.login-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.info-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.login-forgot{
    padding-bottom: 16px;
    text-align: right;
}

.login-forgot a{
    color: #2196F3;
    text-decoration: none;
}

.login-forgot a:hover {
    opacity: 0.6;
}

#login-submit-btn {
    background: #6CB0C5;
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}

#login-submit-btn:hover {
    opacity: 0.8;
}

.register {
    padding: 16px;
    text-align: center;
}

.register a {
    color: #F14336;
    text-decoration: none;
}

.register a:hover {
    opacity: 0.6;
}

.login-footer {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    padding: 0 16px 16px 16px;
}

.login-footer a img {
    margin-left: 32px;
    height: 35px;
    width: 35px;
}

.login-footer a img:hover {
    opacity: 0.6;
}

