@import "../../styles/variables";
@import "../../styles/global";

.table {
  overflow: hidden;
  text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    td>p{
        
    }
  th{
      background: $secondary-color;
  }
  .team__item{
      td:first-child{ 
             display: flex;
              align-items: center;
      }
      td:nth-child(){ 
        display: flex;
         align-items: center;
 }
  }
  .team__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:0 20px 0 0;
  }
  .team__title {
  }

  .team__stadium {
      position: relative;
      
      &:after {
          @extend .strong;
          left: -10px;
      }
  }

  .team__description {
      
      >p{ 
          display: none;
      }
  }
}
