@import "../../styles/variables";
@import "../../styles/global.scss";
.nav__container {
  // background: $blue-color;
  // position: fixed;
  // z-index: 10;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // padding: 0 80px;
  // transform: translateY(0);
  // transition: all 0.3s ease-in-out;
  &-nav {
    .col {
      padding: 5px 0 !important;
    }
    background: $gray-white-color;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(51, 51, 51, 0.548);
    flex: 1;
    padding: 0 20px;
    margin: 0 10px;
    form {
      position: relative;
      margin: 0 20px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      input {
        position: relative;
        border-radius: 16px;
        flex: 1;
        padding-right: 50px;
      }
      box-icon {
        position: absolute;
        right: 8px;
        font-size: 20px;
        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
        &:after {
          @extend .strong;
          left: -8px;
        }
      }
    }
  }
  .nav__container {
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    flex: 1;
    width: 230px;
    height: 92px;
    background: url(../../assets/img/logo.png) center no-repeat;
  }
  .col {
    padding: 5px;
  }

  .nav-item {
    // padding: 0px 20px ;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .sub-nav {
    &:after {
      @extend .bridge;
    }
    &:hover{
    .sub-nav-list{
      transform: scaleY(1);
      transform-origin: top center;
      }
    }
    .nav-item-title{
      cursor: pointer;
    }
    .sub-nav-list {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 50px;
      width: 200%;
      background: $white-color;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      z-index: 999;
      padding: 10px 0;
      transition: all 0.3s ease;
      transform: scaleY(0);
      transform-origin: top center;
      
      .sub-nav-item:not(:last-child) {
        border-bottom: 1px solid $text-color;
      }
      // .sub-nav-item-link{
      //   width:100%;
      //   text-align: left;
      // }
      .nav-link {
        color: $black-color;
      }
    }
  }
  .nav-link {
    position: relative;
    width: fit-content;
    height: 100%;
    &:after {
      @extend .item--hover;
    }

    &:hover {
      color: $primary-color !important;
      &:after {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }
}

.category {
  font-size: 40px;
  color: $white-color;
  display: none;
  &:hover {
    .category-icon {
      color: $primary-color;
    }
  }
}
.navbar-scrolled {
  transform: translateY(-100px);
}
.account {
  display: flex;
  align-items: center;
  &-list.activeted {
    display: flex;
    background: $white-color;
    padding: 0px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(51, 51, 51, 0.548);
  }
  &-list:not(.account-list.activeted) {
    display: none;
  }
  &-item {
    position: relative;
    &:last-child::before {
      @extend .strong;
    }

    &:after {
      @extend .item--hover;
    }
    &:hover {
      &:after {
        transform: scaleX(1) !important;
        transform-origin: left center;
      }
    }
  }

  .log__out:not(.log__out.activeted){
    display: none;
  }
  .log__out.activeted{
    display: block;
    font-size: 1.5rem;

  }
}

.adminQuanLy:not(.adminQuanLy.activeted){
  display: none ;
}
.adminQuanLy.activeted{
  display: block ;
}

@import "../../styles/responsive.scss";
