@import '../../styles/variables';
@import '../../styles/global';

.contact{

    .list__contact{
        flex-direction: column;
        
    }
    main{
        border-top: #a66 solid 2px;
        margin: 0px 70px;
        line-height: 1.8;
        font-size: 60%;
    
    }
    .title, a{
        color: #670001;
    }
    .title{
        text-transform: uppercase;
        font-size: 1.6em;
     
    }
    
   
    .indexing{
        list-style-type: none;
        background-color: #670001;
        font-size: 1.2rem;
        padding: 10px 15px;
        margin: 10px 0px;
        width: 50%;
        box-shadow: 3px 3px #666;
    }
    
    span{
        opacity: 0.95;
        overflow: visible;
        width: 205px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        color:#fff;
    } 
    .content{
        margin-bottom: 40px;
    }
    .strong{
        color: #670001;
    }
    p{
        margin: 30px 0px;
    }
    
    .form-contact{
        text-transform: uppercase;
        margin-left: 200px;
        margin-top: 20px;
    }
    
    .form-title{
        color: black;
        font-weight: bold;
    }
    .input{
        border: 2px solid #dadada;
        border-radius: 7px;
        height: 40px;
        width: 400px;
        padding-left: 15px;
    }
    .input:focus{
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
    
    #form-content{
        height: 150px;
        width: 600px;
    }
    
    #submit{
    
        background-color:  rgba(148,0,0,1);
        padding: 20px 15px;
        margin: 40px 0px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        box-shadow: 3px 3px #666;
        width: 25%;
    }
    .form-contact{
        margin: 0;
    }
}