
$primary-color: #F74748;
$secondary-color: #6c757d;
$black-color:#000;
$white-color:#F7F7F7;
$color-hover:  #F74748;
$blue-color: #1953756e;
$gray-dark-color: #343a40;
$gray-white-color: #e1e9ee;
$bg-btn: #0098FF;
$text-color: rgb(209, 203, 203);

$gradient-color: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
