@media (max-width: 1024px) {
  //================home page///////////////
  .navbar-nav {
    display: none;
  }
  .ban-calendar {
    width: 300px;
    min-height: 200px;
    padding: 10px 0 !important;
    &-title {
      font-size: 1.6rem;
      padding: 10px;
    }
  }

  .category {
    display: block;
  }

  .account {
    display: none;
  }

  .slide {
    .slideBackground {
      top: calc(-20% - 85px);
      height: 85vh;
    }
    .slideContentInner {
      &:hover .slideTitle {
        transform: translateX(0%);
      }
      &:hover .slideSubtitle {
        opacity: 1;
      }
    }
    .slideTitle {
      font-size: 1.6rem !important;
      margin-top: 12rem;
      transform: translateX(250%);
      transition: all 0.3s linear;
    }
    .slideSubtitle {
      opacity: 0;
    }
  }

  ///==================footer==================
  .footer {
    .card {
      &-title {
        margin-top: 40px;
      }
    }
  }
}
