@import '../../../styles/variables';
@import '../../../styles/global';

.navbar__admin{

    .navbar-nav{
        max-height: 50px;
        maxw
    }
    .log__out{
        cursor: pointer;
        color: $white-color;
        font-size: 1.5rem;
        &:hover{
            color: $primary-color;
        }
    }
}